.body-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.left-body-container {
  /* max-height: calc(100vh - 20px); */
  height: fit-content;
  flex: 1;
}

.right-body-container {
  /* background-color: whitesmoke; */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form-group > input,
.form-group > textarea {
  background-color: transparent;
  max-width: 80%;
  border: 1px solid #734949;
  padding: 0.75rem 0.8rem;
  color: white;
  border-radius: 8px;
}

.form-group > input:focus,
.form-group > input:active,
.form-group > textarea:focus,
.form-group > textarea:active {
  background-color: transparent;
  max-width: 80%;
  border: 1px solid green;
  padding: 0.75rem 0.8rem;
  color: white;
  border-radius: 8px;
  outline: green;
}

.right-body-container > button {
  background-color: #734949;
  max-width: 83%;
  border: 1px solid #734949;
  padding: 0.75rem 0.8rem;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.right-body-container > button:disabled {
  cursor: not-allowed;
}

.car-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.single-car-container {
  position: relative;
  cursor: pointer;
  transition: 1s all ease-in-out;
  scale: 0.9;
}

.single-car-container:hover {
  transition: 1s all ease-in-out;
  scale: 1;
}

.single-car-container > .active {
  color: green;
  position: absolute;
  left: 0;
  top: 10px;
}

th {
  background-color: rgb(0, 240, 0);
  padding: 20px 8px;
  text-align: left;
}

td {
  padding: 12px 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: green;
}
